<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Services</title>

    <!-- Bootstrap core CSS -->
    <link rel = "stylesheet" type="text/css" href="../public/stylesheets/vendor/bootstrap/css/bootstrap.min.css">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link rel = "stylesheet" type="text/css" href="../public/stylesheets/css/modern-business.css">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">SALONPAS</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="stylist.html">Stylists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="appointment.html">Set Appointment</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Services <small>Subheading</small></h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Salonpas</a>
            </li>
            <li class="breadcrumb-item active">Services</li>
        </ol>

        <!-- Image Header -->
        <img class="img-fluid rounded mb-4" src="../public/images/service.jpg" alt="">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Haircut and Hair Styling</h4>
                    <div class="card-block">
                        <p class="card-text"> For the look of the future, we have stylists that are ready to meet the needs of your hair. </p>
                    </div>
                    <div class="card-footer">
                        <a href="appointment.html" class="btn btn-primary">Schedule Appointment</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Manicure and Pedicure</h4>
                    <div class="card-block">
                        <p class="card-text"> We offer wide variety of nail services from a simple manicure to custom crafted nail. </p>
                    </div>
                    <div class="card-footer">
                        <a href="appointment.html" class="btn btn-primary">Schedule Appointment</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Facial and Massage</h4>
                    <div class="card-block">
                        <p class="card-text"> Relax and experience tranquility through the hands of our masseuses. </p>
                    </div>
                    <div class="card-footer">
                        <a href="appointment.html" class="btn btn-primary">Schedule Appointment</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../public/stylesheets/vendor/jquery/jquery.min.js"></script>
    <script src="../public/stylesheets/vendor/tether/tether.min.js"></script>
    <script src="../public/stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
