<%- include('./layout')%>

<!-- Page Content -->
<div class="container">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="well-block">
                    <div class="well-title">
                        <h2>Questions? Book an Appointment</h2>
                    </div>
                    <form>
                        <!-- Form start -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="date">Stylist</label>
                                    <select class="form-control input-md" data-live-search="true">
                                        <option >Joshua Laban</option>
                                        <option >Jenmar Gagelonia</option>
                                        <option >Karl Bobadilla</option>
                                        <option >Mary Anne Zheng</option>
                                        <option >Daiben Sanchez</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="date">Service</label>
                                    <select class="form-control input-md" data-live-search="true">
                                        <option>Hair Rebond</option>
                                        <option>Haircut</option>
                                        <option>Manicure</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="date">Preferred Date</label>
                                    <input id="date" name="date" type="text" placeholder="Preferred Date" class="form-control input-md">
                                </div>
                            </div>
                            <!-- Select Basic -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="time">Preferred Time</label>
                                    <select id="time" name="time" class="form-control">
                                        <option value="8:00 to 9:00">8:00 to 9:00</option>
                                        <option value="9:00 to 10:00">9:00 to 10:00</option>
                                        <option value="10:00 to 1:00">10:00 to 1:00</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Select Basic -->
                            <!-- Button -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button id="singlebutton" name="singlebutton" class="btn btn-default">Make An Appointment</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- form end -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="well-block">
                    <div class="well-title">
                        <h2>Why Appointment with Us</h2>
                    </div>
                    <div class="feature-block">
                        <div class="feature feature-blurb-text">
                            <h4 class="feature-title">24/7 Hours Available</h4>
                            <div class="feature-content">
                                <p>We are always open to meet your needs so you can drop by anytime.</p>
                            </div>
                        </div>
                        <div class="feature feature-blurb-text">
                            <h4 class="feature-title">Experienced Staff Available</h4>
                            <div class="feature-content">
                                <p>Our well-trained personnel will provide you the service that you need.</p>
                            </div>
                        </div>
                        <div class="feature feature-blurb-text">
                            <h4 class="feature-title">Low Price & Fees</h4>
                            <div class="feature-content">
                                <p>Your unique style can be achieved with affordable price.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->


