<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Set Appointment</title>

    <!-- Bootstrap core CSS -->
	<link rel = "stylesheet" type="text/css" href="../public/stylesheets/vendor/bootstrap/css/bootstrap.min.css">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
	<link rel = "stylesheet" type="text/css" href="../public/stylesheets/css/modern-business.css">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		<div class="container">
			<a class="navbar-brand" href="/">SALONPAS</a>
			<div class="collapse navbar-collapse" id="navbarExample">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="stylist.html">Stylists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="appointment.html">Set Appointment</a>
                    </li>
				</ul>
			</div>
		</div>
    </nav>

    <!-- Page Content -->
    <div class="container">

		 <div class="container">
		            <div class="row">
		                <div class="col-md-6">
		                    <div class="well-block">
		                        <div class="well-title">
		                            <h2>Questions? Book an Appointment</h2>
		                        </div>
		                        <form>
		                            <!-- Form start -->
		                            <div class="row">
		                                <div class="col-md-6">
		                                    <div class="form-group">
		                                        <label class="control-label" for="date">Stylist</label>
					                            <select class="form-control input-md" data-live-search="true">
												  <option >Joshua Laban</option>
												  <option >Jenmar Gagelonia</option>
												  <option >Karl Bobadilla</option>
												  <option >Mary Anne Zheng</option>
												  <option >Daiben Sanchez</option>
												</select>
											 </div>
		                                </div>
		                                <div class="col-md-6">
		                                    <div class="form-group">
		                                        <label class="control-label" for="date">Service</label>
					                            <select class="form-control input-md" data-live-search="true">
												  <option>Hair Rebond</option>
												  <option>Haircut</option>
												  <option>Manicure</option>
												</select>
											 </div>
		                                </div>
		                             </div>

		                            <div class="row">
		                                <div class="col-md-6">
		                                    <div class="form-group">
		                                        <label class="control-label" for="date">Preferred Date</label>
		                                        <input id="date" name="date" type="text" placeholder="Preferred Date" class="form-control input-md">
		                                    </div>
		                                </div>
		                                <!-- Select Basic -->
		                                <div class="col-md-6">
		                                    <div class="form-group">
		                                        <label class="control-label" for="time">Preferred Time</label>
		                                        <select id="time" name="time" class="form-control">
		                                            <option value="8:00 to 9:00">8:00 to 9:00</option>
		                                            <option value="9:00 to 10:00">9:00 to 10:00</option>
		                                            <option value="10:00 to 1:00">10:00 to 1:00</option>
		                                        </select>
		                                    </div>
		                                </div>
		                                <!-- Select Basic -->
		                                <!-- Button -->
		                                <div class="col-md-12">
		                                    <div class="form-group">
		                                        <button id="singlebutton" name="singlebutton" class="btn btn-default">Make An Appointment</button>
		                                    </div>
		                                </div>
		                            </div>
		                        </form>
		                        <!-- form end -->
		                    </div>
		                </div>
		                <div class="col-md-6">
		                    <div class="well-block">
		                        <div class="well-title">
		                            <h2>Why Appointment with Us</h2>
		                        </div>
		                        <div class="feature-block">
		                            <div class="feature feature-blurb-text">
		                                <h4 class="feature-title">24/7 Hours Available</h4>
		                                <div class="feature-content">
		                                    <p> We are always open to meet your needs so you can drop by anytime. </p>
		                                </div>
		                            </div>
		                            <div class="feature feature-blurb-text">
		                                <h4 class="feature-title">Experienced Staff Available</h4>
		                                <div class="feature-content">
		                                    <p> Our well-trained personnel will provide you the service that you need. </p>
		                                </div>
		                            </div>
		                            <div class="feature feature-blurb-text">
		                                <h4 class="feature-title">Low Price & Fees</h4>
		                                <div class="feature-content">
		                                    <p> Your unique style can be achieved with affordable price. </p>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        
  </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
		<script src="../public/stylesheets/vendor/jquery/jquery.min.js"></script>
		<script src="../public/stylesheets/vendor/tether/tether.min.js"></script>
		<script src="../public/stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
