<% extend('./layout') %>
    <!-- Temporary navbar container fix -->
    <style>
        .navbar-toggler {
            z-index: 1;
        }

        @media (max-width: 576px) {
            nav > .container {
                width: 100%;
            }
        }
    </style>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About <small>Us</small></h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Salonpas</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="../public/images/cover.jpg" alt="">
        </div>
        <div class="col-lg-6">
            <h2>About Salonpas</h2>
            <p>The business is focused on delivering high-end salon quality services and products, without the high-end attitude... just good natured, knowledgeable professionals performing the services they love.</p>
            <p>While internal beauty will always reign supreme, we wholeheartedly believe that when people look better on the outside, they feel better on the inside. If we can improve your quality of life through the services we provide, then we have completed our mission.</p>

        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="../public/images/1.jpg" alt="">
                <div class="card-block">
                    <h4 class="card-title">Mary Jane Zheng</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Manager</h6>
                    <p class="card-text">"When a woman's hair is done, she feels as if she can conquer the world. So if hair weave/extensions make you happy, do it!"</p>
                </div>
                <div class="card-footer">
                    <a href="#">mary.anne@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="../public/images/2.jpg" alt="">
                <div class="card-block">
                    <h4 class="card-title">Jenmar Gagelonia</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Head Stylist</h6>
                    <p class="card-text">"Remember, it is not the box or the bottle that does the work, it is the hands and the mind using the color that is the key."</p>
                </div>
                <div class="card-footer">
                    <a href="#">jennie.jen@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="../public/images/3.jpg" alt="">
                <div class="card-block">
                    <h4 class="card-title">Joshua Laban</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Head Makeup Artist</h6>
                    <p class="card-text">"May your foundation match your neck, concealer be creaseless and winged eyeliner be sharp enough to kill."</p>
                </div>
                <div class="card-footer">
                    <a href="#">joshie_josh@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Our Customers -->
    <h2>Our Customers</h2>
    <div class="row">
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="../public/images/a.jpg" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="../public/images/b.jpg" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="../public/images/c.jpg" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="../public/images/d.jpg" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="../public/images/e.jpg" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="../public/images/f.jpg" alt="">
        </div>
    </div>
    <!-- /.row -->

</div>